<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Post Menu</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
    <div class="row" style="margin: auto; flex: auto;">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Post List</h5>
                    <p class="card-text">Click on the link to view all posts.</p>
                    <a href="/posts/all" class="btn btn-primary">Posts</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Create Posts</h5>
                    <p class="card-text">Create new post</p>
                    <a href="/posts/add" class="btn btn-primary">New Post</a>
                </div>
            </div>
        </div>
    </div>
</div>